body {
	color: #444;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 1.4em;
}

a {
	color: #4183c4;
text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.header {
	text-align: center;
}

.header h1 {
	font-size: 5em;
	font-weight: normal;
	margin-bottom: 35px;
}

.header h2 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.header .logo {
	margin-top: 30px;
}

.header .logo img {
	width: 250px;
	height: auto;
}

.container {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 10px;
	padding-right: 10px;
	clear: both;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.footer {
	margin-bottom: 60px;
	clear: both;
}

.grid-3 {
	float: left;
	width: 33.33333%;
}

.grid-4 {
	float: left;
	width: 25%;
}

.grid-2 {
	float: left;
	width: 50%;
}

@media (max-width: 600px) {
	.grid-2, .grid-3 {
		width: 100%;
	}
}

h3 {
	text-align: center;
	font-size:	1.3em;
}

.code {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: 10px 15px;
	margin: 10px;
	font-family: 'Courier New';
	font-size: 13px;
	white-space: pre-wrap;
}

.code .func {
      font-weight: bold;
}

.code .string {
      color: #e65100;
}

.code .keyword {
      font-weight: bold;
      color: #5677fc;
}

.code .comment {
      color: #607d8b;
}

.code .type {
      font-weight: bold;
      color: #0a7e07;
}
